* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #3591e7;
  background-image: linear-gradient(160deg, #2c83e628 0%, #80d0c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90vw;
  max-width: 360px;
  background-color: #749fdf;
  background-image: linear-gradient(160deg, #709dd8 0%, #a4dbd5 100%);
  border-radius: 20px;
  border: 2px solid #045a8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

.card h2 {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 10px;
}

.card p {
  font-size: 1rem;
  margin: 0 10px;
}

@media (min-width: 600px) {
  .card {
    width: 70vw;
  }
  .card h2 {
    font-size: 2rem;
  }
  .card p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 40vw;
  }
  .card h2 {
    font-size: 2.2rem;
  }
  .card p {
    font-size: 1.2rem;
  }
}
